@namespace BlazorBindings.Maui.Elements

<BottomSheet>
    <Detents>
        <FullscreenDetent />
        <MediumDetent Ratio="0.75f" IsDefault="true" />
    </Detents>
    <ChildContent>
        <VerticalStackLayout Spacing="20">
            @if (Title != null)
            {
                <Label HorizontalOptions="LayoutOptions.Center" FontAttributes="FontAttributes.Bold">
                    @Title
                </Label>
            }

            @Body
        </VerticalStackLayout>
    </ChildContent>
</BottomSheet>

@code
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = default!;
}